*{
    padding: 0;
    margin: 0;
}
.wrapper{
    overflow: hidden;
}
.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72C0BD;
}
.header-container .logo img{
    width: 40%;
}
.header-container .head-menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}
.header-container .head-menu ul li a{
    text-decoration: none;
    color: white;
}
.header-container .head-menu ul li a:hover{
    color: #136694;
}
.header-container .head-user-icon i{
    padding: 1vw 1vw;
    margin: 0 12px;
    color: black;
    background-color: white;
    border-radius: 50%;
}
.header-container .head-user-icon i:hover{
    background-color: #136694;
    color: white;
}
.header-container .head-menu-icon{
    display: none;
}



/* banner start here */


.banner-container{
    /* height: 90vh; */
    width: 100%;
    background-color: #72C0BD;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    border-radius: 0 0 50px 50px;
    
}
.banner-container .banner-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.banner-container .banner-head h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 10px 0;
}
.banner-container .banner-head .head-2 p{
    color: #136694;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
}
.banner-container .banner-head .head-3{
    background-color: white;
    padding: 10px 40px;
    margin: 10px 0;
    border-radius: 25px;
}
.banner-container .banner-head .head-3 input{
    border: none;
    padding: 8px 20px;
}

.banner-container .banner-head .head-3 button{
    border: none;
    background-color: #72C0BD;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.banner-container .banner-head .head-3 button:hover{
    background-color: #136694;
}



/* banner head 2 start here */

.banner-head2{
    display: flex;
    justify-content: space-evenly;
}
.banner-head2 .card1{
    padding: 10px 0;
    border-radius: 30px;
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.banner-head2 .card1 img{
    width: 80%;
}
.banner-head2 .card1 h3{
    font-size: 30px;
    width: 80%;
    margin: 10px;
}
.banner-head2 .card1 p{
    width: 80%;
    margin: 10px;
}

.banner-head2 .card2{
    display: flex;
    flex-direction: column;
    width: 40%;
}


/* align-items: center; */


.banner-head2 .card2{
    margin: 50px;
    background-image:
    linear-gradient(-180deg, 
      rgba(184, 212, 240, 0.75), 
      rgba(80, 204, 200, 0.603)), url('/assets/box2.jpg');
    background-size: cover;
    border-radius: 30px;
}
.banner-head2 .card2 h3{
    font-size: 30px;
    width: 80% ;
    margin: 10px;
    padding: 0 20px;
}
.banner-head2 .card2 p{
    width: 80%;
    margin: 10px;
    padding: 0 20px;
}
.banner-head2 .card2 button{
    width: 20%;
    margin: 0 20px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #72C0BD;
    color: white;
}

.banner-head2 .bottom-part .p1 i{
    color: white;
    background-color: #72C0BD;
    padding: 12px;
    border-radius: 50%;
    margin: 0 12px;
}
.banner-head2 .bottom-part .p2 i{
    color: white;
    background-color: #72C0BD;
    padding: 12px;
    border-radius: 50%;
    margin: 0 12px;
}


/* section #1 start here */

.section-one-container{
    margin: 50px 0;
    padding: 50px 0;
    width: 100%;
}

.section-one-container .secone-title h1{
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
}


.section-one-container .secone-box-container{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0; 
}
.section-one-container .secone-box-container .secone-box1 {
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    -moz-box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}
.section-one-container .secone-box-container .secone-box1:hover{
    transform: translateY(-10%)
}



.section-one-container .secone-box-container .secone-box1 h2{
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 30px;
}
.section-one-container .secone-box-container .secone-box1 p{
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 15px;
}
.section-one-container .secone-box-container .secone-box1 img{
    width: 80%;
}


.section-one-container .secone-box-container .secone-box2{
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    -moz-box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}
.section-one-container .secone-box-container .secone-box2:hover{
    transform: translateY(-10%)
}


.section-one-container .secone-box-container .secone-box2 h2{
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 30px;
}
.section-one-container .secone-box-container .secone-box2 p{
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 15px;
}
.section-one-container .secone-box-container .secone-box2 img{
    width: 80%;
}


.section-one-container .secone-box-container .secone-box3{
    width: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    -moz-box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    box-shadow: 9px 10px 22px -8px rgba(0,0,0,0.55);
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}
.section-one-container .secone-box-container .secone-box3:hover{
    transform: translateY(-10%)
}

.section-one-container .secone-box-container .secone-box3 h2{
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 30px;
}
.section-one-container .secone-box-container .secone-box3 p{
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0;
    font-size: 15px;
}
.section-one-container .secone-box-container .secone-box3 img{
    width: 50%;
}

    /* section #2 start here */

.section-two-container{
    background-color: #72C0BD;
    color: whitesmoke;
    margin: 50px 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-two-container .sectwo-title h1{
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
}
.section-two-container .sectwo-box1{
    display: flex;
    width: 70%;
    align-items: center;
}
.section-two-container .sectwo-box1 .icon{
    padding: 20px;
    margin: 40px;
    border: 3px solid white;
    border-radius: 50%;
}
.section-two-container .sectwo-box1 .text{
    padding: 20px;
}
.section-two-container .sectwo-box1 .text h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;
}
.section-two-container .sectwo-box1 .text p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;
}



.section-two-container .sectwo-box2{
    display: flex;
    width: 50%;
    align-items: center;
}
.section-two-container .sectwo-box3{
    display: flex;
    width: 50%;
    align-items: center;
}


.sectwo-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectwo-more .sectwo-p1 p{
    font-size: 30px;
    margin: 20px;
}
.sectwo-more .sectwo-p2 button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.sectwo-more .sectwo-p2 button:hover{
    color: #72C0BD;
    background-color: white;
}



/* section #3 start here */

.section-three-container{
    width: 100%;
}
.section-three-container .secthree-title h1{
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
    padding: 50px 0;
}
.section-three-container .secthree-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.section-three-container .secthree-box-container .secthree-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-three-container .secthree-box-container .secthree-left img{
    width: 80%;
}

.section-three-container .secthree-box-container .secthree-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-three-container .secthree-box-container .secthree-right .p1, .p2 , .p3 {
    width: 90%;
    margin: 30px 0;
}
.section-three-container .secthree-box-container .secthree-right .p1 h1{
    font-size: 30px;
    margin: 10px 0;
}
.section-three-container .secthree-box-container .secthree-right .p1 p{
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px 0;
}

.section-three-container .secthree-box-container .secthree-right .p2 h1{
    font-size: 30px;
    margin: 10px 0;
}
.section-three-container .secthree-box-container .secthree-right .p2 p{
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px 0;
}

.section-three-container .secthree-box-container .secthree-right .p3 h1{
    font-size: 30px;
    margin: 10px 0;
}
.section-three-container .secthree-box-container .secthree-right .p3 p{
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 10px 0;
}



/* Section #4 start here */


.section-four-container{
    width: 100%;
    background-color: #F0F8FF;
}

.section-four-container .secfour-title h3{
    font-size: 50px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.secfour-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-four-container .secfour-container .secfour-p2 h2{
    font-size: 28px;
    color: grey;
}
.section-four-container .secfour-container .secfour-p2 p{
    margin: 20px 0;
}
.section-four-container .secfour-container .secfour-p2 p a{
    text-decoration: none;
    color: #136694;
}
.section-four-container .secfour-container .secfour-p2 p a:hover{
    text-shadow: 5px 5px 10px #136694;
}


.section-four-container .secfour-container .secfour-p3 h2{
    font-size: 28px;
    color: grey;
}
.section-four-container .secfour-container .secfour-p3 p{
    margin: 20px 0;
}
.section-four-container .secfour-container .secfour-p3 p a{
    text-decoration: none;
    color: #136694;
}
.section-four-container .secfour-container .secfour-p3 p a:hover{
    text-shadow: 5px 5px 10px #136694;
}



/* footer section start here */

.foot-container{
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    align-items: flex-start;
}
.foot-container .foot-p1 img{
    width: 50%;
}
.foot-container .foot-p2 h2{
    font-size: 25px;
    margin: 12px 0;
}
.foot-container .foot-p2 p{
    margin: 8px 0;
}
.foot-container .foot-p2 p a{
    text-decoration: none;
    color: #136694;
}
.foot-container .foot-p2 p a:hover{
    color: rgb(30, 72, 92);
    text-shadow: 2px 5px 6px rgb(30, 72, 92);
}
.foot-container .foot-p4 select{
    background-color: #72C0BD;
    padding: 5px 12px;
    border: none;
    border-radius: 20px;
    margin: 12px 0;
}
.foot-container .foot-p4 select:hover{
    background-color: #F0F8FF;
}
.foot-container .foot-p4 pre{
    margin: 12px 0;
}
.foot-container .foot-p4 pre a{
    color: #136694;
    text-decoration: none;
}
.foot-container .foot-p4 pre a:hover{
    color: slateblue;
}